.row{
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;
}
.row-row {
  justify-content:space-between;
  padding:20px;
  display: flex;
  align-items: center;
}
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.btn {
  cursor:pointer;
  margin-bottom:10px;
  text-align:center;
  font-size:16px;
  color:white;
  padding:10px 20px;
  background-color:lightseagreen;
  border:0;
  outline:0;
  text-shadow:0px 0px 5px #000000;
}
.btn-del {
  background-color:indianred;
}
input{
  margin-bottom:8px;
  padding:5px;
  font-size:17px;
}
.btn:disabled {
  opacity:0.5;
}
.user {
  display: block;
  font-size: 17px;
  padding-right:10px;
  margin-right: 10px;
  border-right: 3px solid lightseagreen;
}
.btn-chn {
  background-color:lime;
}
.col-4,col-12 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 17px;
  color: white;
  text-shadow: 0px 0px 4px black, 0px 0px 4px black, 0px 0px 4px black;
  text-align:center;
  min-width:50px;
}
