<div class="container">
  <form *ngIf="!isEdit" [formGroup]="userForm" (ngSubmit)="onUserFormSubmit()">

    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Имя" formControlName="name">
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Фамилия" formControlName="surname">
        </div>
      </div>
    </div>

    <ng-container formArrayName="emails">
      <div class="row" *ngFor="let e of userForm.get('emails').controls; let i = index, let last = last">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="E-mail" [formControlName]="i" />
        </div>
        <div class="form-group" *ngIf="last">
          <button class="btn" (click)="onAddEmail()">Добавить email</button>
        </div>
        <div class="form-group" *ngIf="last && i!=0">
          <button class="btn btn-del" (click)="onDelEmail(i)">Удалить email</button>
        </div>
      </div>
    </ng-container>

    <div class="row">
      <button type="submit" class="btn" [disabled]="!userForm.valid">Добавить пользователя</button>
    </div>
  </form>
  <div *ngIf="isEdit" class="row">

    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <input *ngIf="isEdit" type="text" class="form-control" placeholder="Имя" [(ngModel)]="users[currentId].name">
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <input *ngIf="isEdit" type="text" class="form-control" placeholder="Фамилия" [(ngModel)]="users[currentId].surname">
        </div>
      </div>
    </div>

    <div class="row" *ngFor="let e of users[currentId].emails; let i = index, let last = last; trackBy:trackByFn">
      <input type="text" placeholder="E-mail" [(ngModel)]="users[currentId].emails[i]" />
      <div class="form-group" *ngIf="last">
        <button class="btn" (click)="onAddEditEmail(users[currentId].emails)">Добавить email</button>
      </div>
      <div class="form-group" *ngIf="last && i!=0">
        <button class="btn btn-del" (click)="onDelEditEmail(users[currentId].emails)">Удалить email</button>
      </div>
      <button class="btn btn-chn" *ngIf="last" (click)="endChanges()">Подтвердить</button>
    </div>
  </div>
  <div class="row-row" *ngFor="let user of users; let j = index">
    <div class="row user">
      <div class="col-4">
        {{user.name}}
      </div>
      <div class="col-4">
        {{user.surname}}
      </div>
      <div class="col-4">
        <div class="row" *ngFor="let email of user.emails">
          <div class="col-12">
            {{email}}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div>
        <button class="btn" id="{{j}}" (click)="clickButton($event)">Редактировать</button>
      </div>
    </div>
    <hr>
  </div>
</div>




